<nav>
    <ul class="navbar">
        <a id="logoHolder" href="/"><img src="../../openBook.svg" alt="Logo"></a>

        <% if (user) { %>
            <li id="welcome">Welcome, <%= user.email %></li> <!-- Display the email -->
            <li><a href="/dashboard">Dashboard</a></li> <!-- Dashboard button -->
            <li><a href="/logout">Log Out</a></li> <!-- Log out link -->
        <% } else { %>
            <li><a href="/login">Log In</a></li> <!-- Log in link -->
        <% } %>
    </ul>
</nav>