<nav>
    <ul class="navbar">
        <a id="logoHolder" href="/"><img src="../../getyourguide.svg" alt="Logo"></a>
        <a href="/guide">Guides</a>
        <a href="/login">Log In</a>
    </ul>
</nav>
