<div class="sidebar shifted">
  <button class="sidebar-toggle" onclick="toggleSidebar()">&#9776;</button>
  <ul>
    <li><a href="">Home</a></li>
    <li><a href="">Log In</a></li>
    <li><a href="">Guides</a></li>
  </ul>
</div>