<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/informationFavicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <title>Guide</title>
</head>
<body>
    <%- include ("partials/navbar") %>
    <div class="main-content">
        <div class="guidePage">
            
            <div class="guideContent">
                <h1>Dashboard</h1>

                <a href="/newGuide">Create new guide</a>

                <h2>Your Guides</h2>
                <ul>
                    <% if (guides && guides.length > 0) { %>
                        <% guides.forEach(guide => { %>
                            <li>
                                <a href="/guide/<%= guide._id %>"><%= guide.title %></a>
                            </li>
                        <% }); %>
                    <% } else { %>
                        <li>No guides found.</li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>