<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/informationFavicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <title>Guidene</title>
</head>
<body>
    <div class="main-content">
        <%- include ("partials/navbar") %>
        <div class="main-title">
            <h1>Guide</h1>
            <input type="text">
        </div>
        <div class="guideContainer">
            <div class="guideBox">1</div>
            <div class="guideBox">1</div>
            <div class="guideBox">1</div>
            <div class="guideBox">1</div>
            <div class="guideBox">1</div>
            <div class="guideBox">1</div>
            <div class="guideBox">1</div>
            <div class="guideBox">1</div>
            <div class="guideBox">1</div>
            <div class="guideBox">1</div>
        </div>
    </div>
</body>
</html>