<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Log In</title>
</head>
<body>
    <%- include ("partials/navbar") %>
    <div class="main-content login-content">
        <div class="centerLogin">
            <h2>Log in</h2>
            <form class="form" action="" method="POST">
                <label for="uname"><p>Username</p></label>
                <input type="text" placeholder="Enter Username" name="uname" required>
        
                <label for="psw"><p>Password</p></label>
                <input type="password" placeholder="Enter Password" name="psw" required>
        
                <input type="submit"></input>

                <a href="signup">Don´t have a user?</a>
            </form>
        </div>
    </div>
</body>
</html>