<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/informationFavicon.png" type="image/x-icon">
        <link rel="stylesheet" href="/css/style.css">
        <title>Guide</title>
    </head>
<body>
    <%- include ("partials/navbar") %>
    <h1>New Guide</h1>
    <form action="" method="post" id="formContainer" enctype="multipart/form-data">
        <div class="section">

            <div>
                <label for="title">Title</label>
                <input type="text" name="title" id="title" required>
            </div>
            <div>
                <label for="tag">Tag</label>
                <input type="text" name="tag" id="tag" required>
            </div>
            <div id="addNewSection">
                <div name="section">

                    <h2>Section</h2>
                    
                    <div>
                        <label for="header">Overskrift</label>
                        <input type="text" name="header" id="header" required>
                    </div>
                    <div>
                        <label for="description">Description</label>
                        <input type="text" name="description" id="description" required>
                    </div>
                    <div>
                        <label for="image">Image</label>
                        <input type="file" name="image" id="image" accept="image/png image/jpeg image/jpg" required>
                    </div>
                </div>
            </div>
        </div>
        <button>Send in</button>
    </form>
    <button onclick="newSection()">Create new section</button>
    <script>
        function newSection() {
        
          let addNewSection = document.getElementById("addNewSection");
        //   let newSection2 = document.querySelector("#addNewSection");
        newSection.innerHTML += `
         <div>
                <h2>Seksjon</h2>

                <div>
                        <label for="header">Overskrift</label>
                        <input type="text" name="header" id="header" required>
                    </div>
                    <div>
                        <label for="description">Description</label>
                        <input type="text" name="description" id="description" required>
                    </div>
                    <div>
                        <label for="image">Image</label>
                        <input type="file" name="image" id="image" accept="image/png image/jpeg image/jpg" required>
                    </div>
            </div>
        `
        }

    </script>
</body>
</html>