:root {
    --primary:#ffa31a;
    --secondary: #808080;
    --white: #ffffff;
    --darkgray: #292929;
    --darkergray: #1b1b1b;
    --WorkSans: WorkSans;

}

@font-face {
    font-family: WorkSans;
    src: url(../font/Work_Sans/WorkSans-VariableFont_wght.ttf);
}

html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

body {
    background-color: var(--darkergray);
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    color: var(--white);
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 16px;
    overflow-x: hidden;
    font-family: var(--WorkSans);
}

nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navbar {
    display: flex;
    align-items: center; 
    list-style: none; 
    margin: 0;
    background-color: var(--darkgray);
    width: 100%;
    padding: 0;
    font-family: var(--WorkSans);
   height: 5rem;
}

.navbar a{
    display: flex;
    align-items: center;
    width: max-content;
    font-size: 1.4rem;
    color: var(--white);
    text-decoration: none;
    height: 100%;
    padding: 0 1rem 0 1rem
}

.navbar #welcome {
    padding-right: 1rem;
}

.navbar a:hover {
    background-color: var(--primary);
    color: var(--darkergray);
}

.navbar li {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    color: var(--white);
    padding: 0;
    height: 100%;
}

.navbar a img {
    height: 3rem;
    padding: 0.7rem 1.5rem 0.7rem 0rem;
}

#logoHolder {
    /* padding: 0 1rem 0 2rem; */
    max-width: max-content;
    margin-right: auto;
    padding: 0;
}

#logoHolder img {
    width: 5rem;
}

.navbar a:first-child {
    flex-grow: 20;
}

h1 {
    font-size: 4rem;
    font-family: var(--WorkSans);
}

.main-content {
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}

.guideWSidebar {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.guideImage {
    max-width: 40rem;
}

.main-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
}

.main-title h1 {
    text-align: center;
}

.main-title input {
    display: inline-block;
    padding: 0.5rem;
    width: 50%; 
}

#guideContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem;

}

.guideBox {
    background-color: var(--secondary);
    border: black solid 1px;
    border-radius: 1rem;
    min-width: 200px;
    height: 200px;
    padding: 1rem;
    display: inline-block;
}

.guidePage {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
    "sidebar guideContent guideContent guideContent guideContent";
}

.sidebar {
    grid-area: sidebar;
    background-color: var(--darkgray);
    display: flex;
    flex-direction: column;
    font-family: var(--WorkSans);
    align-items: center; 
    transition: 0.2s;
}

.sidebar:hover {
    transition: 0.2s;
    filter: drop-shadow(5px 0px 50px var(--darkgray));
}

/* .sidebar:hover ~ .guidePage {
    
} */

.sidebarLinks {
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-right: 140px;
}

.guideContent {
    grid-area: guideContent;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar a {
    font-size: 2rem;
    text-align: center;
    justify-self: end;
}

.login-content {
    align-items: center;
}

.centerLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--darkgray);
    padding: 3rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    font-family: var(--WorkSans);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.form p {
    margin: 0px;
    padding: 1rem 0 1rem 0;
}

.form a {
    color: var(--white);
    font-size: 1rem;
}

input[type=submit] {
    color: var(--darkergray);
    background-color:var(--primary);
    border: none;
    border-radius: 0.2rem;
}

.editing {
    align-items: center;
}